@page "/"
@layout IndexLayout
@inject IStringLocalizer<ReGuildedLang> _loc;
@using ReGuilded.Shared.Svgs

<PageTitle>@(_loc["Index/Page-Title"]) | ReGuilded</PageTitle>

<PageGridItem Title=@_loc["Index/Feature/Themes-Title"] Image="@SvgIconType.Themes">
    <p>@_loc["Index/Feature/Themes-Description"]</p>
</PageGridItem>

<PageGridItem Title=@_loc["Index/Feature/Addons-Title"] Image="@SvgIconType.Addons">
    <p>@_loc["Index/Feature/Addons-Description"]</p>
</PageGridItem>

<PageGridItem Title=@_loc["Index/Feature/Sound_Packs-Title"] Image="@SvgIconType.Sounds">
    <p>@_loc["Index/Feature/Sound_Packs-Description"]</p>
</PageGridItem>
