@page "/"
@layout IndexLayout
@inject IStringLocalizer<ReGuildedLang> Loc;
@using ReGuilded.Shared.Svgs

<PageTitle>@(Loc["Index/Page-Title"]) | ReGuilded</PageTitle>

<PageGridItem Title=@Loc["Index/Feature/Themes-Title"] Image="@SvgIconType.Themes">
    <p>@Loc["Index/Feature/Themes-Description"]</p>
</PageGridItem>

<PageGridItem Title=@Loc["Index/Feature/Addons-Title"] Image="@SvgIconType.Addons">
    <p>@Loc["Index/Feature/Addons-Description"]</p>
</PageGridItem>

<PageGridItem Title=@Loc["Index/Feature/Sound_Packs-Title"] Image="@SvgIconType.Sounds">
    <p>@Loc["Index/Feature/Sound_Packs-Description"]</p>
</PageGridItem>
