@page "/"
@layout IndexLayout
@inject IStringLocalizer<ReGuildedLang> Loc;
@using ReGuilded.Shared.Svgs

<PageTitle>@(Loc["Global/Home"]) | ReGuilded</PageTitle>

<PageGridItem Title=@Loc["Global/Themes"] Image="@SvgIconType.Themes">
    <p>@Loc["Index/Feature/Themes-Description"]</p>
</PageGridItem>

<PageGridItem Title=@Loc["Global/Addons"] Image="@SvgIconType.Addons">
    <p>@Loc["Index/Feature/Addons-Description"]</p>
</PageGridItem>

<PageGridItem Title=@Loc["Global/Sound_Packs"] Image="@SvgIconType.Sounds">
    <p>@Loc["Index/Feature/Sound_Packs-Description"]</p>
</PageGridItem>
