@using ReGuilded.Pages.Util
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="@FetchedDownloads">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </CascadingValue>
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Page not found</h1>
            <p>Sorry, the page you are looking for has not been found. Visit our <NavLink href="/">home page</NavLink> to see more.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Parameter]
    public List<FetchedDownload> FetchedDownloads { get; set; }

}