@using ReGuilded.Pages.Util
@inject IStringLocalizer<ReGuildedLang> _loc;

@if (DownloadObject is not null) {
    <PageGridItem Title="@(DownloadObject.DisplayName)" Image="@(DownloadObject.Icon)">
        <a class="download-page item-button" href="@DownloadObject.DownloadUrl">@_loc["DownloadItem/Button"]</a>
    </PageGridItem>
    @* <div class="download-page download-item @DownloadObject.Platform">
        <object class="download-page item-icon" data="img/Platforms/@(DownloadObject.Platform).svg" alt="@(DownloadObject.DisplayName)'s Image"></object>
        <h3 class="download-page item-title">@DownloadObject.DisplayName</h3>
    </div> *@
}

@code {
    
    [Parameter, EditorRequired]
    public FetchedDownload? DownloadObject { get; set; }
    
}