@inherits LayoutComponentBase
@inject IStringLocalizer<ReGuildedLang> Loc;
@inject IHttpContextAccessor HttpContextAccessor
@using ReGuilded.Shared.Svgs
@using ReGuilded.Pages.Util

<main id="page" class="page-main whole">
    @* Top *@
    <PageHeader>
        <section class="index-page-motto section">
            <h1 class="index-page-motto title">@Loc["IndexLayout/Motto/Title"]</h1>
            <p class="index-page-motto subtitle">@Loc["IndexLayout/Motto/Subtitle"]</p>
        </section>
        <section class="index-page-download section">
            <a class="index-page-download main-button" href="@PlatformDownload.DownloadUrl">
                <SvgIcon Type="@(SvgIconUtil.GetIcon(PlatformDownload.DisplayName))" Class="index-page-download main-button-icon" />
                @string.Format(Loc["IndexLayout/QuickDownload/DownloadForPlatform"], PlatformDownload.DisplayName)
            </a>
            <a class="index-page-download sub-hyperlink" href="/downloads">@string.Format(Loc["IndexLayout/QuickDownload/NotUsingPlatform"], PlatformDownload.DisplayName)</a>
        </section>

        <CultureSelector />
    </PageHeader>

    @* Main stuff *@
    <div class="page-main content">
        <article class="page-content panel grid">
            @Body
        </article>
    </div>

    @* Bottom *@
    <PageFooter />
</main>

@code {
    
    [CascadingParameter]
    public List<FetchedDownload> FetchedDownloads { get; set; }
    
    private FetchedDownload PlatformDownload;

    protected override void OnInitialized() {
        var userAgent = HttpContextAccessor.HttpContext?.Request.Headers["User-Agent"].ToString() ;

        var platformName  = userAgent.Contains("Linux") ? "linux" 
                                 : userAgent.Contains("Mac") ? "mac" : "windows";

        PlatformDownload = FetchedDownloads.Find(download => download.Platform.Equals(platformName));
    }
    
}