@inherits LayoutComponentBase
@inject IStringLocalizer<ReGuildedLang> Loc;
@inject IHttpContextAccessor HttpContextAccessor
@using ReGuilded.Shared.Svgs

<main id="page" class="page-main whole">
    @* Top *@
    <PageHeader>
        <section class="index-page-motto section">
            <h1 class="index-page-motto title">@Loc["IndexLayout/Motto/Title"]</h1>
            <p class="index-page-motto subtitle">@Loc["IndexLayout/Motto/Subtitle"]</p>
        </section>
        <section class="index-page-download section">
            <a class="index-page-download main-button" href="/">
                <SvgIcon Type="@(SvgIconUtil.GetIcon(Platform))" Class="index-page-download main-button-icon" />
                @* <img class="index-page-download button-icon" src="img/Platforms/@(Platform.ToLower()).svg" alt="@(Platform)'s Image" /> *@
                @string.Format(Loc["IndexLayout/QuickDownload/DownloadForPlatform"], Platform)
            </a>
            <a class="index-page-download sub-hyperlink" href="/downloads">@string.Format(Loc["IndexLayout/QuickDownload/NotUsingPlatform"], Platform)</a>
        </section>

        <CultureSelector />
    </PageHeader>

    @* Main stuff *@
    <div class="page-main content">
        <article class="page-content panel grid">
            @Body
        </article>
    </div>

    @* Bottom *@
    <PageFooter />
</main>

@code
{
    private string Platform = "Unset Platform";

    protected override void OnInitialized()
    {
        string UserAgent = HttpContextAccessor.HttpContext?.Request.Headers["User-Agent"].ToString();

        Platform = "Linux";

    // Platform = UserAgent.Contains("Linux") ? "Linux"
    //                : UserAgent.Contains("Mac") ? "Mac"
    //                      : "Windows";
    }
}