@using ReGuilded.Resources
@using ReGuilded.Shared.Svgs
@inject IStringLocalizer<ReGuildedLang> Loc;

<header class="page-header panel">
    <div class="page-header top">
        <aside class="page-header info">
            <a class="page-header logo" href="/">
                <SvgReGuilded />
                <span class="page-header logo-text">ReGuilded</span>
            </a>
        </aside>
        <nav class="page-header nav">
            @* TODO: For looping *@
            <li class="page-header nav-button">
                <NavLink ActiveClass="active" class="page-header nav-link" href="/" Match="NavLinkMatch.All">@Loc["Global/Home"]</NavLink>
            </li>
            <li class="page-header nav-button">
                <NavLink ActiveClass="active" class="page-header nav-link" href="downloads">@Loc["Global/Downloads"]</NavLink>
            </li>
            <li class="page-header nav-button nav-dropdown">
                <p class="page-header nav-link nav-dropdown-header">@Loc["PageHeader/SupportUs"] ▼</p>
                <ul class="page-header nav-dropdown-content">
                    <li class="page-header nav-link nav-dropdown-link">
                        <NavLink ActiveClass="active" class="page-header nav-link" href="/tip">@Loc["PageHeader/SupportUs/Tip"]</NavLink>
                    </li>
                    <li class="page-header nav-link nav-dropdown-link">
                        <NavLink ActiveClass="active" class="page-header nav-link" href="/subscribe">@Loc["PageHeader/SupportUs/Subscribe"]</NavLink>
                    </li>
                </ul>
            </li>
            <li class="page-header nav-button disabled">
                <NavLink ActiveClass="active" class="page-header nav-link disabled" href="enhancements" onclick="return false">@Loc["Global/Enhancements"]</NavLink>
            </li>
        </nav>
    </div>

    @if (ChildContent is not null) {
        <section class="page-header additional">
            @ChildContent
        </section>
    }
</header>

@code {
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
}
